.wrapper {
  display: grid;
  grid-template-rows: 1fr 8fr;
  margin: 0;
  padding:0 ;
  height: 100%;
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; 
}
.content {
  grid-column-start: 2 ;
  grid-column-end: span 1;
  background-color : #eae8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}
html, body, #root, .App {
  height: 100%;
}
